body{
    .auth-container{
        background-color: white;
        width: 25%;
        height: fit-content;
        border: 1px solid black;
        border-radius: 15px;
        margin: auto;
        margin-top: 8%;

        .auth-form{
            text-align: center;

            h2{
                margin-top: 5px;
            }

            img{
                margin-top: 20px;
            }

            form{
                flex-direction: column;

                div{
                    margin-bottom: 10px;
                }

                input{
                    border-radius: 15px;
                    padding: 10px;
                    font-size: 15px;
                    min-width: 250px;
                }
                
                button{
                    background-color: white;
                    padding: 20px !important;
                }

                .btn{
                    text-decoration: none;
                }
                
                .btn-primary{
                    width: 250px;
                    height: 30px;
                    font-size: 16px;
                    border: 1px solid rgb(53, 53, 209);
                    border-radius: 15px;
                    color: black;
                    cursor: pointer;
                    padding: 5px;
                }
                
                .btn-primary:hover{
                    background-color: rgb(53, 53, 209);
                    color: white;
                }
            }
        }
    }
}
