#main-body{
    min-height: 60vh;

    .interview-form{
        background-color: white;
        margin-top: 50px;
        margin-bottom: 25px;
        border: 1px solid black;
        border-radius: 15px;
        width: fit-content;
        padding: 20px;

        .form-detail{
            display: flex;
            align-items: center;

            .form-group{
                margin-bottom: 15px;
                margin-right: 25px;
        
                input{
                    border-radius: 15px;
                    padding: 5px;
                    margin-left: 5px;
                }
            }
        }
    
        button{
            border-radius: 15px;
            font-size: 15px;
            padding: 10px;
            background-color: white;
            border: 1px solid green;
        }

        button:hover{
            background-color: green;
            color: white;
            cursor: pointer;
        }      
    }
    
    #interview-list{
        width:fit-content;
    
        li{
            background-color: white;
            display: flex;
            border:1px solid black;
    
            div{
                width: 250px;
                min-height: 80px;
            }

            .list-blanks{
                width: 150px;
            }

            .interview-view{
                width: 150px;

                a{
                    border: 1px solid rgb(50, 84, 238);
                    padding: 10px 20px;
                    text-decoration: none;
                    color: rgb(50, 84, 238);
                }

                a:hover{
                    background-color: rgb(50, 84, 238);
                    color: white;
                }
            }

            .interview-delete{
                width: 150px;

                a{
                    border: 1px solid rgb(197, 41, 41);
                    padding: 10px 20px;
                    text-decoration: none;
                    color: rgb(197, 41, 41);
                }

                a:hover{
                    background-color: rgb(197, 41, 41);
                    color: white;
                }
            }
        }
    
        #interview-list-item:hover{
            background-color: rgb(94, 187, 122);
            color: white;
        }
    
        :first-child{
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
        }
    
        :last-child{
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }
    }
}

