<footer>
    <h4>&copy; Tamanash, 2023</h4>
    <div id="footer-links">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/utils/batches">Batches</a>
            </li>
            <li>
                <a href="/utils/students">Students</a>
            </li>
            <li>
                <a href="/utils/interviews">Interviews</a>
            </li>
        </ul>
    </div>
</footer>