<footer>
    <h4>&copy; Tamanash, 2023</h4>
    <div id="footer-links">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/profile">Profile</a>
            </li>
        </ul>
    </div>
</footer>