<link rel="stylesheet" href="/css/home.css">

<h1>
    Dashboard
</h1>

<div id="dashboard-utils">
    <div class="dashboard-btn">
        <a href="/utils/batches">
            <i class="fas fa-book"></i>
            &nbsp;
            Batches
        </a>
    </div>
    <div class="dashboard-btn">
        <a href="/utils/students">
            <i class="fas fa-user-circle"></i>
            &nbsp;
            Students List
        </a>
    </div>
    <div class="dashboard-btn">
        <a href="/utils/interviews">
            <i class="fas fa-pen-alt"></i>
            &nbsp;
            Interviews List
        </a>
    </div>
</div>

<% if(locals.user){ %>
<div class="download-all">
    <a id="download-btn" href="/download_all">
        <i class="fas fa-file-csv"></i>
        &nbsp;
        Download All Data
    </a>
</div>
<% } %>

<script src="/js/downloads.js"></script>