footer {
  margin-top: 12%;
  width: 100%;
  background-color: #242424;
  color: white;
  display: flex;
  padding: 0px 30px;
  font-family: sans-serif;
  overflow: hidden; }
  footer #footer-links ul {
    list-style: none; }
    footer #footer-links ul li {
      margin-bottom: 10px; }
      footer #footer-links ul li a {
        color: white;
        text-decoration: none; }
