* {
  font-family: 'Poppins', sans-serif; }

body {
  background-image: url("/images/background-tech.jpg");
  background-size: cover;
  background-blend-mode: lighten;
  margin: 0;
  overflow-x: hidden; }
  body #main-body {
    margin: 15px; }
  body .flex-center {
    display: flex;
    align-items: center;
    justify-content: center; }
